@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Medium.eot");
    src: url("../fonts/Metropolis-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Bold.eot");
    src: url("../fonts/Metropolis-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
